.page-background {
    background-color: #7577CB;
}

.sidebar-container {
    display: grid;
    grid-template-columns: 7.5vh 1fr;
}

.body-container {
    width: calc(100vw - 10vh);
}

.sidebar-element {
    background-color: #7577CB;
    height: 100vh;
    width: 7.5vh;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    top: 0;
}

.sidebar-icons-container {
    margin-top: 1.8vh;
}

.sidebar-icons-container button {
    border: none;
    cursor: pointer;
    padding: 1vh;
    height: 6.5vh;
    width: 6.5vh;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    &:hover {
        background-color:#080957;
        border-radius: 50%;
    }
}

.sidebar-home-icon-style {
    background: url('../../assets/sidebar-home-icon.svg') no-repeat center center;
}

.sidebar-logout-icon-style {
    background: url('../../assets/Logout.svg') no-repeat center center;
}

.sidebar-list-icon-style {
    background: url('../../assets/sidebar-list-icon.svg') no-repeat center center;
}

