.sidebar-container {
    display: grid;
    grid-template-columns: 3.5vw 1fr;
}
.body-container {
    
}

.sidebar-element {
    background-color: #7577CB;
    height: 100vh;
    width: 3.5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    gap: 15px;
    position: sticky;
    top: 0;
}

.sidebar-icons-container {
    position: relative;
    top: 9vh;
}

.sidebar-icon-style {
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 1vh;
}