.ticket-background {
    padding: 25px;
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-form-card {
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    width: 100vw;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.create-ticket-header {
    display: flex;
    align-items: center;
    height: auto;
    padding-bottom: 50px;
}

.create-ticket-title {
    font-weight: bold;
}

.create-ticket-buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    width: auto;
    gap: 60px;
}

.create-ticket-button {
    >button {
        padding: 15px 50px;
        background-color: #080957;
        color: #ffffff;
        border: none;
        border-radius: 6px;
    }
}

#create-ticket-button {
    background-color: #51993f;
}

#cancel-ticket-button {
    background-color: #f5471b;
}

input[type="text"], input[type="datetime-local"] {
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 10px;
}

select {
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
}

.create-ticket-first-container {
    display: grid;
    grid-template-columns: 1fr 87%; 
    gap: 10px; 
    margin: auto; 
    margin-bottom: 20px;

    > label {
        padding: 12px;
    }
}

.create-ticket-middle-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 100px; 
    margin-bottom: 20px;
}

.create-ticket-middle-section{
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

    > label {
        text-align: center;
        padding: 12px;
    }
}

.create-ticket-last-section {
    display: grid;
    grid-template-columns: 1fr 87%; 
    gap: 10px; 
    margin: auto; 

    > label {
        text-align: center;
        padding: 12px;
    }
}

#create-notes {
    height: 200px;
}