.header-container {
    height: 8vh;
    width: 100%;
    background-color: #080957;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.logo-name-container {
    display: flex;
    justify-content: start;
    margin-left: 3vh;
}

.logo-resize {
    height: 3vh;
}

.header-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    width: auto;
    padding-left: 2vh;
    padding-right: 2vh;
}

.header-icons-container button {
    border: None;
    cursor: pointer;
    height: 10vh;
    width: 10vh;
}

.header-help-icon-style {
    background: url('../../assets/header-help-icon.svg') no-repeat center center;
}

.header-notifications-icon-style {
    background: url('../../assets/header-notification-icon.svg') no-repeat center center;
}

.header-user-icon-style {
    background: url('../../assets/header-user-icon.svg') no-repeat center center;
}
